/** {Variables}
	# one variable per line, lines beginning with hashes are ignored
 	primary = #3867d6
	primaryBack = white
	disabledLight = #d1d8e0
*/

QWidget {
		background-color: "{primaryBack}";
		color: '{primary}';
        selection-background-color: '{primary}';
		selection-color: '{primaryBack}';
		font-family: "Noto Sans Display";
		font-size: 12pt;
}

QWidget:disabled {
		color: '{disabledLight}';
}
