QWidget {
		background-color:white;
		color:#19252a;
        selection-background-color: #19252a;
		selection-color: white;
		font-family: "Noto Sans Display";
		font-size: 12pt;
}

QWidget:disabled {
		background-color:white;
		color:#aec6cf;
}
